.outer-div{
    border: 2px solid black;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
align-content: flex-end;   
column-gap: 20px; 
justify-content: center;
}
.inner-div{
    border: 2px solid black;
    background-color: orange;
    width: 400px;
    flex: 1;
    border-radius: 5px;
    height: 400px;
}
.main-container{
    background-color: rgb(235, 228, 228);
}
h1{
    text-align: center;
}

img{
    width: 100%;
    height: 600px;
}
.main-img{
    border: 1px solid black;
}
#pro-img{
    width: 100%;
    height: 350px;
}
.outer-div {
  border: 2px solid black;
  height: 900px;
  display: flex; 
  flex-direction: row-reverse;                                                       
}
.inner-div {
  border: 2px solid black;
  border-radius: 5px;
  height: 400px;
  background-color: orange;
  width: 400px;
  flex: 1;
}
#box-end {
  align-self: flex-end;
  flex-grow: 2; 
}
